Django==1.8.8
wechat-sdk==0.6.1
ipython==4.1.2
django-extensions==1.6.1
pylint==1.5.2
pylint-django==0.7.1
pylint-plugin-utils==0.2.3
python-memcached==1.57
python-social-auth==0.2.16
MySQL-python==1.2.5
git+https://github.com/duoduo369/django-mako.git
pytz==2016.3
path.py==8.1.2
xmltodict==0.10.2
